<!DOCTYPE html>
<html lang="en">
<head>
	<title>Re-Twitter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="col-12">
		<div class="col-12 navbar txt--center">
			<h3>ReTwitter Bot</h3>
		</div>
		<div class="col-12 container txt--center margin-top-md">
			<h4>
				This a twitter bot which likes to do what I like.
			</h4>
			<div class="col-12 txt--center">
				<a class="fnt--white btn--red" href="/fav_tweets">Favourite!</a>
				<a class="fnt--white btn--blue" href="/rt_tweets">ReTweet</a>
			</div>
		</div>
		
	</div>
</body>
</html>
